* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

img {
    max-width:100%;
    object-fit: contain;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 60px;
    min-height: 100%;
    background-color: #333333 !important;
}

div.body {
    background-color:#333333;
    height: 100%;
}

a.link {
    color: #fa5400;
}

a.link:hover  {
    color: #d44700;
}

a.nav-link {
    color: whitesmoke;
}

a.nav-link:hover {
    color: #fa5400;
}

p.indent {
    margin-left: 15px;
}

div.header h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Audiowide', cursive;
}

div.header {
    height: 6em;
}

div.column {
    margin: auto;
    /* padding: 20px; */
    /* float: left; */
    max-width: 100%;
    width: 1000px;
}

div.leftcolumn {
    margin: auto;
    padding: 20px;
    float: left;
}

/* div.rightcolumn {
    padding: 20px;
    float: right;
    width: 25%;
    padding-left: 20px;
} */

#rightsidebar {
    padding: 20px;
    float: right;
    width: 25%;
    padding-left: 20px;
}

div.row {
    padding: 20px;
    margin-right: 0px;
}

div.card {
    background-color: #cccccc;
    padding: 20px;
    margin-top: 20px;
    border-top-width: 1x;
    border-top-color: #fa5400;
    border-left-color: #fa5400;
}

code {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff !important;
    font-family: monospace !important;
}

pre {
    border: 1px solid #333333;
    border-radius: 10px;
    border-left: 3px solid #fa5400;
    background-color: #333;
    padding-top: 1em;
    padding-left: 1em;
}

/* a.card {
    color:;
}

a.card:hover {
    color:;
} */

div.row:after {
    content: "";
    display: table;
    clear: both;
}

div.footer {
    background-color: black;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
}

div.social {
    display: inline-block;

}

div#navbarNav.collapse.navbar-collapse {
    margin-top: 30px;
}

