* {
    box-sizing: border-box; 
}

div.body {
    background-color:#566573;
}

a.nav-link  {
    color: whitesmoke;
}

a.nav-link:hover  {
    color: rgb(194, 194, 194);
}

div.header h1 {
    text-align: center; 
    color: whitesmoke;
    font-family: 'Audiowide', cursive;
}

div.header {
    height: 6em;
}

div.leftcolumn {
    padding: 20px;
    float: left;
    width: 75%;
}

/* div.rightcolumn {
    padding: 20px;
    float: right;
    width: 25%;
    padding-left: 20px;
} */

#rightsidebar {
    padding: 20px;
    float: right;
    width: 25%;
    padding-left: 20px;
}

div.row {
    padding: 20px;
    margin-right: 0px;
}

div.card {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
    border-width: 1px;
    border-color: #fa5400;
}

a.card {
    color:;
}

a.card:hover {
    color:;
}

div.row:after {
    content: "";
    display: table;
    clear: both;
}

div.footer {
    background-color: gray;
    text-align: center;
    padding: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    div.rightcolumn, div.leftcolumn, #rightsidebar {   
        width: 100%;
        padding: 0;
    }
}





@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

ul {
    padding:0;
    list-style: none;
}

.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align:
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}