* {
    box-sizing: border-box;
}

div.body {
    background-color:#333333;
    position: relative;
    padding-bottom: 60px;
}

a.link {
    color: #fa5400;
}

a.link:hover  {
    color: #d44700;
}

a.nav-link {
    color: whitesmoke;
}

a.nav-link:hover {
    color: #fa5400;
}


div.header h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Audiowide', cursive;
}

div.header {
    height: 6em;
}

div.leftcolumn {
    padding: 20px;
    float: left;
    width: 75%;
}

/* div.rightcolumn {
    padding: 20px;
    float: right;
    width: 25%;
    padding-left: 20px;
} */

#rightsidebar {
    padding: 20px;
    float: right;
    width: 25%;
    padding-left: 20px;
}

div.row {
    padding: 20px;
    margin-right: 0px;
}

div.card {
    background-color: #cccccc;
    padding: 20px;
    margin-top: 20px;
    border-top-width: 1x;
    border-top-color: #fa5400;
    border-left-color: #fa5400;
}


/* a.card {
    color:;
}

a.card:hover {
    color:;
} */

div.row:after {
    content: "";
    display: table;
    clear: both;
}

div.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    position: absolute;
    left: 0; right 0; bottom 0;
    height: 60px;
}

div.social {
    display: inline-block;

}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    div.rightcolumn, div.leftcolumn, #rightsidebar {
        width: 100%;
        padding: 0;
    }
}
