<!DOCTYPE html>
<html lang="en">
<head>
  <title>BentleySec</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="assets/Images/favicon.jpeg"/>
  <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

</style>
</head>     
  <div class="rightcolumn">

    <div class="card">
      <h3>Network Vulnerabilities Nav</h3>
      <h4><a class="link" href="Pentest_Plus_Study.html">Pentest Plus Study</a></h4>
      <h5><a class="link" href="Attacks_And_Exploits.html">Attacks and Exploits</a></h5>
      <p><a class="link" href="Network-Based_Vulnerabilitites.html">Network-Based Vulnerabilities</a></p>
      <p class="indent"><a class="link" href="Name_Resolution_Exploits.html">Name Resolution Exploits</a></p>
      <p class="indent"><a class="link" href="SMB_Exploits.html">SMB Exploits</a></p>
      <p class="indent"><a class="link" href="SNMP_Exploits.html">SNMP Exploits</a></p>
      <p class="indent"><a class="link" href="SMTP_Exploits.html">SMTP Exploits</a></p>
      <p class="indent"><a class="link" href="FTP_Exploits.html">FTP Exploits</a></p>
      <p class="indent"><a class="link" href="DNS_Cache_Poisoning.html">DNS Cache Poisoning</a></p>
      <p class="indent"><a class="link" href="Pass_The_Hash.html">Pass The Hash</a></p>
      <p class="indent"><a class="link" href="Man-In-The_Middle.html">Man-In-The-Middle</a></p>
      <p class="indent"><a class="link" href="DoS/Stress_Test.html">DoS/Stress Test</a></p>
      <p class="indent"><a class="link" href="NAC_Bypass.html">NAC Bypass</a></p>
      <p class="indent"><a class="link" href="VLAN_Hopping.html">VLAN Hopping</a></p>
      <h5><a class="link" href="Security_Tools.html">Security Tools</a></h5>

    </div>

    <div class="card">
      <h3>Archive</h3>
      <p><a class="link" href="/posts/Archive.html">Archive</a></p>
    </div>
                  
  </div>

