
        <div class="rightcolumn">
                <div class="card">
                    <h2>About Me</h2>
                    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                  </div>
                  <div class="card">
                    <h3>Archive</h3>
                  </div>
                  <div class="card">
                    <h3>Follow Me</h3>
                    <!--Twitter-->
                      <a type="button" class="btn-floating btn-lg btn-tw"><i class="fa fa-twitter"></i></a>

                  </div>
              </div>
  
