<!DOCTYPE html>
<html lang="en">
<head>
  <title>BentleySec</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="assets/Images/favicon.jpeg"/>
  <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <style>
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

  </style>
</head>     
  <div class="rightcolumn">
                <div class="card">
                    <h2>About Me</h2>
                    <p>Hi! My name is Steven Bentley. I am a student to CyberSecurity and this blog is my place to store the things that I am learning.</p>
                  </div>
                  <div class="card">
                    <a href="../archive.html"><h3>Archive</h3></a>
                  </div>
                  <div class="card">
                  <h2>Follow Me</h2>
                  <a href="#" class="fa fa-twitter"></a>
                  <a href="#" class="fa fa-linkedin"></a>
                  
                  </div>
              </div>
  
