<!DOCTYPE html>
<html lang="en">
<head>
  <title>BentleySec</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="assets/Images/favicon.jpeg"/>
  <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

</style>
</head>     
  <div class="rightcolumn">

    <div class="card">
      <h3>Social Engineering Attacks Nav</h3>
      <h4><a class="link" href="/posts/Pentest_Plus_Study.html">Pentest Plus Study</a></h4>
      <p><a class="link" href="/posts/Attacks_And_Exploits.html">Attacks and Exploits</a></p>
      <ul>
        <li><a class="link" href="Phishing.html">Phishing</a></li>
        <ul>
          <li><a class="link" href="Phishing.html">Spear Phishing</a></li>
          <li><a class="link" href="Phishing.html">SMS Phishing</a></li>
          <li><a class="link" href="Phishing.html">Voice Phishing</a></li>
          <li><a class="link" href="Phishing.html">Whaling</a></li>
        </ul>
        <li><a class="link" href="Elicitation.html">Elicitation</a></li>
        <ul>
          <li><a class="link" href="Elicitation.html">Business Email Compromise</a></li>
        </ul>
        <li><a class="link" href="Interrogation.html">Interrogation</a></li>
        <li><a class="link" href="Impersonation.html">Impersonation</a></li>
        <li><a class="link" href="Shoulder_Surfing.html">Shoulder Surfing</a></li>
        <li><a class="link" href="USB_Key_Drop.html">USB Key Drop</a></li>
        <li><a class="link" href="Motivation_Techniques.html">Motication Techniques</a></li>
        <ul>
          <li><a class="link" href="Motivation_Techniques.html">Authority</a></li>
          <li><a class="link" href="Motivation_Techniques.html">Scarcity</a></li>
          <li><a class="link" href="Motivation_Techniques.html">Social Proof</a></li>
          <li><a class="link" href="Motivation_Techniques.html">Urgency</a></li>
          <li><a class="link" href="Motivation_Techniques.html">Likeness</a></li>
          <li><a class="link" href="Motivation_Techniques.html">Fear</a></li>
        </ul>
      </ul>
    </div>

    <div class="card">
      <h3>Archive</h3>
      <p><a class="link" href="/posts/Archive.html">Archive</a></p>
    </div>
                  
  </div>

