---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">



    <div class="widget widget--categories">
        <h3 class="h6">Application-Based Attacks</h3> 
        <ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Injections.html">Injections</a></li>
            <ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Injections.html">SQL</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Injections.html">HTML</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Injections.html">Command</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Injections.html">Code</a></li>
            </ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Authentication.html">Authentication</a></li>
            <ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Authentication.html">Credential Brute Forcing</a></li>
              </ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Comments In Source Code</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Lack of Error Handling</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Overly Verbose Error Handling</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Hard-Coded Credentials</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Race Conditions</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Unauthorized Use of Functions/Unportected APIs</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Hidden Elements</a></li>
              <ul>
                <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Sensitive Information in the DOM</a></li>
              </ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Code_Practice.html">Lack of Code Signing</a></li>
            </ul>
          </ul>
          <h4><a href="/pentestplus/pentestplus.html">Pentest+ Home</a></h4>
          <h4><a href="/pentestplus/attacksandexploits/attacksandexploits.html">Attacks and Exploits</a></h4>
          <ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Social_Engineering_Attacks.html">Social Engineering Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Network-Based_Vulnerabilities.html">Network-Based Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Wireless_and_RF-Based_Vulnerabilities.html">Wireless and RF-Based Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Application-Based_Attacks.html">Application-Based Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Local_Host_Vulnerabilities.html">Local Host Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Physical_Security_Attacks.html">Physical Security Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Post-Exploitation_Techniques.html">Post-Exploitation Techniques</a></li>
        </ul>
        <h4><a href="/pentestplus/securitytools/securitytools.html">Security Tools</a></h4>
        
     </div>
    
</div> <!-- end sidebar -->