---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">
    <div class="widget widget--categories">
        <h3 class="h6"><a href="/subjects/AttackDefend/AttackDefend.html">Attack and Defend</a></h3>
        <ol>
            <li><a href="/subjects/AttackDefend/Reconnaissance.html">Reconnaissance</a></li>
            <li><a href="/subjects/AttackDefend/Resource_Development.html">Resource Development</a></li>
            <li><a href="/subjects/AttackDefend/Initial_Access.html">Initial Access</a></li>
            <li><a href="/subjects/AttackDefend/Execution.html">Execution</a></li>
            <li><a href="/subjects/AttackDefend/Persistence.html">Persistence</a></li>
            <li><a href="/subjects/AttackDefend/Privilege_Escalation.html">Privilege Escalation</a></li>
            <li><a href="/subjects/AttackDefend/Defence_Evasion.html">Defense Evasion</a></li>
            <li><a href="/subjects/AttackDefend/Credential_Access.html">Credential Access</a></li>
            <li><a href="/subjects/AttackDefend/Discovery.html">Discovery</a></li>
            <li><a href="/subjects/AttackDefend/Lateral_Movement.html">Lateral Movement</a></li>
            <li><a href="/subjects/AttackDefend/Collection.html">Collection</a></li>
            <li><a href="/subjects/AttackDefend/Command_and_Control.html">Command and Control</a></li>
            <li><a href="/subjects/AttackDefend/Exfiltration.html">Exfiltration</a></li>
            <li><a href="/subjects/AttackDefend/Impact.html">Impact</a></li>
        </ol>
    </div>
</div>