---
layout: default
---
{{content}}

           <div id="sidebar" class="s-content__sidebar large-4 column">



               <div class="widget widget--categories">
                   <h3 class="h6">Governance, Risk, and Compliance</h3> 
                   <ul>
                    <li><a class="link" href="/casp/governanceriskcompliance/4-1.html">4.1 Given a set of requirements, apply the appropriate risk strategies.</a></li>
                    <li><a class="link" href="/casp/governanceriskcompliance/4-2.html">4.2 Explain the importance of managing and mitigating vendor risk. </a></li>
                    <li><a class="link" href="/casp/governanceriskcompliance/4-3.html">4.3 Explain compliance frameworks and legal considerations, and their organizational impact. </a></li>
                    <li><a class="link" href="/casp/governanceriskcompliance/4-4.html">4.4 Explain the importance of business continuity and disaster recovery concepts.</a></li>
                  </ul>
                    <h4><a href="/casp/casp.html">CASP+ Home</a></h4>
                </div>
               
           </div> <!-- end sidebar -->