---
layout: default
---
{{content}}

           <div id="sidebar" class="s-content__sidebar large-4 column">



               <div class="widget widget--categories">
                   <h3 class="h6">Security Operations</h3> 
                   <ul>
                    <li><a class="link" href="/casp/securityoperations/2-1.html">2.1 Given a scenario, perform threat management activities.</a></li>
                    <li><a class="link" href="/casp/securityoperations/2-2.html">2.2 Given a scenario, analyze indicators of compromise and formulate an appropriate response.</a></li>
                    <li><a class="link" href="/casp/securityoperations/2-3.html">2.3 Given a scenario, perform vulnerability management activities. </a></li>
                    <li><a class="link" href="/casp/securityoperations/2-4.html">2.4 Given a scenario, use the appropriate vulnerability assessment and penetration testing methods and tools.</a></li>
                    <li><a class="link" href="/casp/securityoperations/2-5.html">2.5 Given a scenario, analyze vulnerabilities and recommend risk mitigations.</a></li>
                    <li><a class="link" href="/casp/securityoperations/2-6.html">2.6 Given a scenario, use processes to reduce risk.</a></li>
                    <li><a class="link" href="/casp/securityoperations/2-7.html">2.7 Given an incident, implement the appropriate response.</a></li>
                    <li><a class="link" href="/casp/securityoperations/2-8.html">2.8 Explain the importance of forensic concepts. </a></li>
                    <li><a class="link" href="/casp/securityoperations/2-9.html">2.9 Given a scenario, use forensic analysis tools. </a></li>
                  </ul>
                    <h4><a href="/casp/casp.html">CASP+ Home</a></h4>
                    <ul>
                      <li><a class="link" href="/casp/securityarchitecture/securityarchitecture.html">Security Architecture</a></li>
                      <li><a class="link" href="/casp/securityoperations/securityoperations.html">Security Operations</a></li>
                      <li><a class="link" href="/casp/securityengineering/securityengineering.html">Security Engineering and Cryptography</a></li>
                      <li><a class="link" href="/casp/governanceriskcompliance/governanceriskcompliance.html">Governance, Risk, and Compliance</a></li>
                  </ul>
                </div>
               
           </div> <!-- end sidebar -->