---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">
    <div class="widget widget--categories">
        <h3 class="h6">Cloud Concepts, Architecture, and Design</h3>
        <ol>
            <li><a href="/subjects/CCSP/Architecture/Concepts.html">Understand Cloud Computing Concepts</a></li>
            <li><a href="/subjects/CCSP/Architecture/Reference_architecture.html">Describe Cloud Reference Architecture</a></li>
            <li><a href="/subjects/CCSP/Architecture/Security_Concepts.html">Understand Security Concepts Relevant to Cloud Computing</a></li>
            <li><a href="/subjects/CCSP/Architecture/Design_Principles.html">Understand Design Principles of Secure Cloud Computing</a></li>
            <li><a href="/subjects/CCSP/Architecture/Evaluate.html">Evaluate Cloud Service Providers</a></li>
        </ol>
        <h3 class="h6">CCSP</h3>
        <ol>
            <li><a href="/subjects/CCSP/architectural.html">Cloud Concepts, Architecture, and Design</a></li>
            <li><a href="/subjects/CCSP/data_security.html">Cloud Data Security</a></li>
            <li><a href="/subjects/CCSP/platform_and_infrastructure_security.html">Cloud Platform and Infrastructure Security</a></li>
            <li><a href="/subjects/CCSP/application_security.html">Cloud Application Security</a></li>
            <li><a href="/subjects/CCSP/operations.html">Cloud Security Operations</a></li>
            <li><a href="/subjects/CCSP/legal_and_compliance.html">Legal, Risk, and Compliance</a></li>
        </ol>
    </div>
</div>