---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">
    <div class="widget widget--categories">
        <h3 class="h6">Cloud Data Security</h3>
        <ol>
            <li><a href="/subjects/CCSP/Platfom_and_Infrastructure_Security/comprehend.html">Comprehend Cloud Infrastructure Components</a></li>
            <li><a href="/subjects/CCSP/Platfom_and_Infrastructure_Security/design.html">Design a Secure Data Center</a></li>
            <li><a href="/subjects/CCSP/Platfom_and_Infrastructure_Security/analyze_risks.html">Analyze Risks Associated with Cloud Infrastructure</a></li>
            <li><a href="/subjects/CCSP/Platfom_and_Infrastructure_Security/design_and_plan.html">Design and Plan Security Controls</a></li>
            <li><a href="/subjects/CCSP/Platfom_and_Infrastructure_Security/dr_and_bc.html">Plan Disaster Recovery (DR) and Business Continuity (BC)</a></li>
        </ol>
        <h3 class="h6">CCSP</h3>
        <ol>
            <li><a href="/subjects/CCSP/architectural.html">Cloud Concepts, Architecture, and Design</a></li>
            <li><a href="/subjects/CCSP/data_security.html">Cloud Data Security</a></li>
            <li><a href="/subjects/CCSP/platform_and_infrastructure_security.html">Cloud Platform and Infrastructure Security</a></li>
            <li><a href="/subjects/CCSP/application_security.html">Cloud Application Security</a></li>
            <li><a href="/subjects/CCSP/operations.html">Cloud Security Operations</a></li>
            <li><a href="/subjects/CCSP/legal_and_compliance.html">Legal, Risk, and Compliance</a></li>
        </ol>
    </div>
</div>