---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">
    <div class="widget widget--categories">
        <h3 class="h6">Cloud Data Security</h3>
        <ol>
            <li><a href="/subjects/CCSP/Data_Security/concepts.html">Describe Cloud Data Concepts</a></li>
            <li><a href="/subjects/CCSP/Data_Security/storage_architecture.html">Design and Implement Cloud Data Storage Architectures</a></li>
            <li><a href="/subjects/CCSP/Data_Security/technologies.html">Design and Apply Data Security Technologies and Strategies</a></li>
            <li><a href="/subjects/CCSP/Data_Security/discovery.html">Implement Data Discovery</a></li>
            <li><a href="/subjects/CCSP/Data_Security/classification.html">Implement Data Classification</a></li>
            <li><a href="/subjects/CCSP/Data_Security/irm.html">Design and Implement Information Rights Management (IRM)</a></li>
            <li><a href="/subjects/CCSP/Data_Security/data_policies.html">Plan and Implement Data Retention, Deletion and Archiving Policies</a></li>
            <li><a href="/subjects/CCSP/Data_Security/data_events.html">Design and Implement Auditability, Traceability and Accountability of Data Events</a></li>
        </ol>
        <h3 class="h6">CCSP</h3>
        <ol>
            <li><a href="/subjects/CCSP/architectural.html">Cloud Concepts, Architecture, and Design</a></li>
            <li><a href="/subjects/CCSP/data_security.html">Cloud Data Security</a></li>
            <li><a href="/subjects/CCSP/platform_and_infrastructure_security.html">Cloud Platform and Infrastructure Security</a></li>
            <li><a href="/subjects/CCSP/application_security.html">Cloud Application Security</a></li>
            <li><a href="/subjects/CCSP/operations.html">Cloud Security Operations</a></li>
            <li><a href="/subjects/CCSP/legal_and_compliance.html">Legal, Risk, and Compliance</a></li>
        </ol>
    </div>
</div>