---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">



    <div class="widget widget--categories">
        <h3 class="h6">Local Host Vulnerabilities</h3> 
        <ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/OS_Vulnerabilities.html">OS Vulnerabilities</a></li>
            <ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/OS_Vulnerabilities.html">Windows</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/OS_Vulnerabilities.html">MAC OS</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/OS_Vulnerabilities.html">Linux</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/OS_Vulnerabilities.html">Android</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/OS_Vulnerabilities.html">iOS</a></li>
            </ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Unsecure_Service_and_Protocol_Configurations.html">Unsecure Service and Protocol Configurations</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Privilege Escalation</a></li>
            <ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Linux-Specific</a></li>
              <ul>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">SUID/SGID Programs</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Unsecure SUDO</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Ret2libc</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Sticky Bits</a></li>
              </ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Windows-Specific</a></li>
              <ul>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Cpassword</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Clear Text Credentials in LDAP</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Kerberoasting</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Credentials in LSASS</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Unattended Installation</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">SAM Database</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">DLL Hijacking</a></li>
              </ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Exploitable Services</a></li>
              <ul>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Unquoted Service Paths</a></li>
                <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Writable Services</a></li>
              </ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Unsecure File/Folder Permissions</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Keylogger</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Scheduled Tasks</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Privilege_Escalation.html">Kernel Exploits</a></li>
            </ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Default_Account_Settings.html">Default Account Settings</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Sandbox_Escape.html">Sandbox Escape</a></li>
            <ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Sandbox_Escape.html">Shell Upgrade</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Sandbox_Escape.html">VM</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Sandbox_Escape.html">Container</a></li>
            </ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Physical_Device_Security.html">Physical Device Security</a></li>
            <ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Physical_Device_Security.html">Cold Boot Attack</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Physical_Device_Security.html">JTAG Debug</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Physical_Device_Security.html">Serial Console</a></li>
            </ul>
            </ul>
          <h4><a href="/pentestplus/pentestplus.html">Pentest+ Home</a></h4>
          <h4><a href="/pentestplus/attacksandexploits/attacksandexploits.html">Attacks and Exploits</a></h4>
          <ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Social_Engineering_Attacks.html">Social Engineering Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Network-Based_Vulnerabilities.html">Network-Based Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Wireless_and_RF-Based_Vulnerabilities.html">Wireless and RF-Based Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Application-Based_Attacks.html">Application-Based Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Local_Host_Vulnerabilities.html">Local Host Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Physical_Security_Attacks.html">Physical Security Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Post-Exploitation_Techniques.html">Post-Exploitation Techniques</a></li>
        </ul>
        <h4><a href="/pentestplus/securitytools/securitytools.html">Security Tools</a></h4>
        
     </div>
    
</div> <!-- end sidebar -->