---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">



    <div class="widget widget--categories">
        <h3 class="h6">Physical Security Attacks</h3> 
        <ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Piggybacking_Tailgating.html">Piggybacking/Tailgating</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Fence_Jumping.html">Fence Jumping</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Dumpster_Diving.html">Dumpster Diving</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Lock_Picking.html">Lock Picking</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Lock_Bypass.html">Lock Bypass</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Egress_Sensor.html">Egress Sensor</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Badge_Cloning.html">Badge Cloning</a></li>
          </ul>
          <h4><a href="/pentestplus/pentestplus.html">Pentest+ Home</a></h4>
          <h4><a href="/pentestplus/attacksandexploits/attacksandexploits.html">Attacks and Exploits</a></h4>
          <ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Social_Engineering_Attacks.html">Social Engineering Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Network-Based_Vulnerabilities.html">Network-Based Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Wireless_and_RF-Based_Vulnerabilities.html">Wireless and RF-Based Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Application-Based_Attacks.html">Application-Based Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Local_Host_Vulnerabilities.html">Local Host Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Physical_Security_Attacks.html">Physical Security Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Post-Exploitation_Techniques.html">Post-Exploitation Techniques</a></li>
        </ul>
        <h4><a href="/pentestplus/securitytools/securitytools.html">Security Tools</a></h4>
        
     </div>
    
</div> <!-- end sidebar -->