---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">



    <div class="widget widget--categories">
        <h3 class="h6">Software Assurance</h3> 
        <ul>
            <li><a class="link" href="/pentestplus/securitytools/Findbugs.html">findbugs/findsecbugs</a></li>
            <li><a class="link" href="/pentestplus/securitytools/Peach.html">Peach</a></li>
            <li><a class="link" href="/pentestplus/securitytools/AFL.html">AFL</a></li>
            <li><a class="link" href="/pentestplus/securitytools/SonarQube.html">SonarQube</a></li>
            <li><a class="link" href="/pentestplus/securitytools/YASCA.html">YASCA</a></li>
          </ul>
          <h4><a href="/pentestplus/pentestplus.html">Pentest+ Home</a></h4>
          <h5><a href="/pentestplus/securitytools/securitytools.html">Security Tools</a></h5>
     </div>
    
</div> <!-- end sidebar -->