---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">



    <div class="widget widget--categories">
        <h3 class="h6">Threat and Vulnerability Management</h3> 
        <ol>
            <li><a href="threat_data_and_intelligence.html">Explain the importance of threat data and intelligence</a></li>
            <li><a href="utilize_threat_intelligence.html">Given a scenario, utilize threat intelligence to support organizational security.</a></li>
            <li><a href="vulnerability_management.html">Given a scenario, perform vulnerability management activities.</a></li>
            <li><a href="vulnerability_assessment.html">Given a scenario, analyze the output from common vulnerability assessment tools.</a></li>
            <li><a href="specialized_technology.html">Explain the threats and vulnerabilities associated with specialized technology.</a></li>
            <li><a href="cloud.html">Explain the threats and vulnerabilities associated with operating in the cloud.</a></li>
            <li><a href="software.html">Given a scenario, implement controls to mitigate attacks and software vulnerabilities.</a></li>
        </ol>
     </div>
    
</div> <!-- end sidebar -->