---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">



    <div class="widget widget--categories">
        <h3 class="h6"><a class="link" href="/webgoat/General.html">General</a></h3> 
        <ul>
            <li><a class="link" href="/webgoat/HTTP_Basics.html">HTTP Basics</a></li>
            <li><a class="link" href="/webgoat/HTTP_Proxies.html">HTTP Proxies</a></li>
            <li><a class="link" href="/webgoat/Developer_Tools.html">Developer Tools</a></li>
            <li><a class="link" href="/webgoat/CIA_Triad.html">CIA Triad</a></li>
            <li><a class="link" href="/webgoat/Crypto_Basics.html">Crypto Basics</a></li>
            <li><a class="link" href="/webgoat/Writing_new_content.html">Writing new content</a></li>
        </ul>
          <h4><a href="/webgoat/webgoat.html">WebGoat</a></h4>
          <ul>
            <li><a class="link" href="/webgoat/Introduction.html">Introduction</a></li>
            <li><a class="link" href="/webgoat/General.html">General</a></li>
            <li><a class="link" href="/webgoat/Injection.html">Injection</a></li>
            <li><a class="link" href="/webgoat/Broken_Authentication.html">Broken Authentication</a></li>
            <li><a class="link" href="/webgoat/Sensitive_Data_Exposure.html">Sensitive Data Exposure</a></li>
            <li><a class="link" href="/webgoat/XML_External_Entities.html">XML External Entities</a></li>
            <li><a class="link" href="/webgoat/Broken_Access_Control.html">Broken Access Control</a></li>
            <li><a class="link" href="/webgoat/Cross-site_Scripting.html">Cross-Site Scripting</a></li>
            <li><a class="link" href="/webgoat/Insecure_Deserialization.html">Insecure Deserialization</a></li>
            <li><a class="link" href="/webgoat/Vulnerable_Components.html">Vulnerable Components</a></li>
            <li><a class="link" href="/webgoat/Request_Forgeries.html">Request Forgeries</a></li>
            <li><a class="link" href="/webgoat/Client_Side.html">Client Side</a></li>
            <li><a class="link" href="/webgoat/Challenges.html">Challenges</a></li>
          </ul>
          <h3><a href="/index.html">Home</a></h3>
     </div>
    
</div> <!-- end sidebar -->