---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">



    <div class="widget widget--categories">
        <h3 class="h6">WebGoat</h3> 
        <ul>
            <li><a class="link" href="/webgoat/Introduction.html">Introduction</a></li>
              <li><a class="link" href="/webgoat/General.html">General</a></li>
              <li><a class="link" href="/webgoat/Broken_Access_Control.html">(A1) Broken Access Control</a></li>
              <li><a class="link" href="/webgoat/Cryptogrpahic_Failures.html">(A2) Cryptographic Failures</a></li>
              <li><a class="link" href="/webgoat/Injection.html">(A3) Injection</a></li>
              <li><a class="link" href="/webgoat/Security_Misconfiguration.html">(A5) Security Misconfiguration</a></li>
              <li><a class="link" href="/webgoat/Vuln_Outdated.html">(A6) Vuln & Outdated Components</a></li>
              <li><a class="link" href="/webgoat/Identity_Auth_Failure.html">(A7) Identity & Auth Failure</a></li>
              <li><a class="link" href="/webgoat/Software_Data_Integrity.html">(A8) Software & Data Integrity</a></li>
              <li><a class="link" href="/webgoat/Security_Logging_Failures.html">(A9) Security Logging Failures</a></li>
              <li><a class="link" href="/webgoat/Server_Side_Request_Forgery.html">(A10) Sever-Side Request Forgery</a></li>
              <li><a class="link" href="/webgoat/Client_Side.html">Client Side</a></li>
              <li><a class="link" href="/webgoat/Challenges.html">Challenges</a></li>
          </ul>
          <h4><a href="/webgoat/webgoat.html">WebGoat</a></h4>
          <h3><a href="/index.html">Home</a></h3>
     </div>
    
</div> <!-- end sidebar -->