---
layout: default
---
{{content}}

<div id="sidebar" class="s-content__sidebar large-4 column">



    <div class="widget widget--categories">
        <h3 class="h6">Wireless and RF-Based Vulnerabilities</h3> 
        <ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Evil_Twin.html">Evil Twin</a></li>
            <ul>
              <li><a class="link" href="/pentestplus/attacksandexploits/Evil_Twin.html">Karma Attack</a></li>
              <li><a class="link" href="/pentestplus/attacksandexploits/Evil_Twin.html">Downgrade Attack</a></li>
            </ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Deauthentication_Attacks.html">Deauthentication Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Fragmentation_Attacks.html">Fragmentation Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Credential_Harvesting.html">Credential Harvesting</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/WPS_Implementation_Weakness.html">WPS Implementation Weakness</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Bluejacking.html">Bluejacking</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Bluesnarfing.html">Bluesnarfing</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/RFID_Cloning.html">RFID Cloning</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Jamming.html">Jamming</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Repeating.html">Repeating</a></li>
          </ul>
          <h4><a href="/pentestplus/pentestplus.html">Pentest+ Home</a></h4>
          <h4><a href="/pentestplus/attacksandexploits/attacksandexploits.html">Attacks and Exploits</a></h4>
          <ul>
            <li><a class="link" href="/pentestplus/attacksandexploits/Social_Engineering_Attacks.html">Social Engineering Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Network-Based_Vulnerabilities.html">Network-Based Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Wireless_and_RF-Based_Vulnerabilities.html">Wireless and RF-Based Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Application-Based_Attacks.html">Application-Based Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Local_Host_Vulnerabilities.html">Local Host Vulnerabilities</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Physical_Security_Attacks.html">Physical Security Attacks</a></li>
            <li><a class="link" href="/pentestplus/attacksandexploits/Post-Exploitation_Techniques.html">Post-Exploitation Techniques</a></li>
        </ul>
        <h4><a href="/pentestplus/securitytools/securitytools.html">Security Tools</a></h4>
        
     </div>
    
</div> <!-- end sidebar -->